body{
    background: linear-gradient(purple, black) no-repeat center center fixed;
    color: white;
    font-family:"Calibri";  
    font-size: 22px;
    border: 1px solid white;
}

a{
    color: white;
}

button{
	width: 100px;
	height: 50px;
	border: 1px solid black;
	background: white;
}

input{
	width: 224px;
	height: 25px;
}

#resultado{
	width: 50%;
	border-collapse: collapse;
	border-color: black;
	background-color: white;
	color: #383838;
}

html{
    scroll-behavior: smooth;
}
